* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
}

li {
  list-style-type: none;
}

.container {
  padding: 10px;
  border: 1px dashed #979797;
  margin-bottom: 15px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.item {
  box-shadow: 2px 2px 4px 1px #cacaca;
  width: fit-content;
  padding: 10px;
  position: relative;
}

.listing-img {
  width: 200px;
}

.item-price {
  font-weight: 600;
  color: #006900;
  font-size: 1.4rem;
  margin-top: 5px;
}

.item-quantity {
  font-weight: 600;
  color: #fff;
  height: fit-content;
  padding: 3px;
}

.level-low {
  background-color: #6b0000;
}

.level-medium {
  background-color: #b86200;
}

.level-high {
  background-color: #0c6800;
}

.item-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item-title {
  max-width: 200px;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.message-credentials {
  display: flex;
  align-items: center;
}

.message-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.message-date {
  margin-left: 5px;
  color: #929292;
}

.message {
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}

.float-right {
  align-self: flex-end;
}
